
<footer>
    
                <p id='copyright'>Copyright &copy;  Albion Software
                  rights reserved.</p>
             

</footer>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/popper.js/dist/popper.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</body>
</html>
