<H1>about!!!!!!!!!!!</H1>
<div class="container-fluid">
    


<ul class="list-group">
<% abouts.forEach(about => { %>
<li class="list-group-item d-flex justify-content-between align-items-center active">
<%= about.name %> 
<span class="badge badge-secondary badge-pill"><%= about.age %> </span>
</li>
<% }) %>
</ul>
</div>
