
<div class="container">
  <div class="row">
  <div class="col-sm-6 offset-sm-3 ">
      <div class="card border-secondary">
        <div class="card-header text-center ">
          <h2>Conect With Us.<h2>
        </div>
        <div class="card-body ">

        <form action="" method="post">
          <div class="form-group">
          <label for="">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="John Smith" required="">
          <br>
          <label for="">email</label>
          <input type="email" class="form-control" name="email" id="email"  placeholder="example@example.com" required="">
          <br>
          <label for="">Comment</label>
          <textarea class="form-control" name="comment" is="comment" placeholder="what would you to know" required=""></textarea>
         
          <br>
          <button type="submit" class="btn btn-primary col-12">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


