

<div class="container">
<div>
  <h1 class="text-center display-3 text-primary mt-1 animated zoomIn">Connect With
    Us.
  </h1>
</div>

<div class="row tm-3">
  <div class="col-sm-6 offset-sm-3  ">
    <form action="" method="post">
      <div class="form-group">
        <label for="">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="John Smith"
          required=""
        />
        <br />
        <label for="">email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          placeholder="example@example.com"
          required=""
        />
        <br />
        <label for="">Comment</label>
        <input
          type="text"
          class="form-control"
          name="comment"
          is="comment"
          placeholder="what would you like to say"
          required=""
        />

        <br />
        <button type="submit" class="btn btn-primary col-12">Submit</button>
      </div>
    </form>
  </div>
</div>
</div>

