

	<div class="container">       

    <div id="slides" class="carousel slide mt-3" data-ride="carousel "> 
     
    <div class="contaniner">
        <ol class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active" ></li>
            <li data-target="#slides" data-slide-to="1" ></li>
            <li data-target="#slides" data-slide-to="2"></li> 
            <li data-target="#slides" data-slide-to="3"></li> 
           
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active thumbnail">                   
           
                <img src="img/code1.jpg"  alt="code1">                 
            </div>

            <div class="carousel-item thumbnail">                  
            <img src="img/code2.jpg"  alt="code2">               
            </div>

            <div class="carousel-item thumbnail">
            <img src="img/code3.jpg"  alt="code3">              
            </div>

            <div class="carousel-item thumbnail">
            <img src="img/code4.jpg"   alt="code4">                  
        </div>

                                
        </div>
        </div>
    <div>
        <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
            <span class="carousel-control-next-icon  " aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </div>

  

<!--- Jumbotron -->
<div class="jumbotron jumbotron-fluid mt-5">

	<div class="container">
		<h1 class="display-3 text-primary">Albion Software</h1>
		<p class="lead">For all your Software needs</p>
	
		<p>More info</p>
        <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quis repellat explicabo rerum consequuntur incidunt inventore nesciunt. Eligendi, repellendus deserunt consequatur, unde praesentium illo atque libero optio ipsam molestiae, asperiores non alias porro at labore debitis iste et eaque quas dolorem architecto amet dolor ullam cupiditate. Consequuntur autem architecto pariatur, neque culpa expedita, placeat fugiat fuga inventore, distinctio necessitatibus soluta! Exercitationem nam quas temporibus atque, asperiores provident, veniam suscipit numquam nesciunt est harum consequatur ullam eligendi dolor quibusdam? Blanditiis consectetur nisi magni dolores ullam, fugiat labore. Quas provident quos consequatur. Veniam at nostrum quibusdam distinctio a delectus, debitis eligendi, ipsam veritatis assumenda recusandae inventore nulla ut magnam libero itaque nihil, soluta saepe laboriosam vitae. Tenetur dolorem error voluptate asperiores ipsam expedita, consequuntur possimus, sit nesciunt omnis deleniti. A, eius ad dolore ex repellendus impedit deleniti hic! Reprehenderit reiciendis quo quos illo, labore quaerat nesciunt architecto dignissimos rem veniam distinctio quam.
        </p>       
		
		</p>
	</div>
</div




