

	<div class="container">       
        <div id="slides" class="carousel slide " data-ride="carousel"> 
        <h1 class="text-center">Technolgies used By Albion Software</h1>       
            <div class="contaniner">
                <ol class="carousel-indicators">
                    <li data-target="#slides" data-slide-to="0" class="active" ></li>
                    <li data-target="#slides" data-slide-to="1" ></li>
                    <li data-target="#slides" data-slide-to="2" </li>
                    <li data-target="#slides" data-slide-to="3" </li>
                </ol>

                <div class="carousel-inner">



                    <div class="carousel-item active thumbnail">                   
                        <img src="img/node.png" alt="Node.js">                   
                    </div>

                    <div class="carousel-item thumbnail">                  
                        <img src="img/ejs.jpg" alt="EJS">                    
                    </div>

                    <div class="carousel-item thumbnail">
                        <img src="img/mongo.png" alt="MongoDB">                   
                    </div>

                    <div class="carousel-item thumbnail">
                    <img src="img/bootstrap.png" alt="Bootstrap">                   
                </div>

                </div>
            

                
                
                <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
                    <span class="carousel-control-next-icon  bg-primary" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
  

<!--- Jumbotron -->
<div class="jumbotron jumbotron-fluid">

<div class="container">
    <h1 class="display-3">Jumbo heading</h1>
    <p class="lead">Jumbo helper text</p>
   
    <p>More info</p>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium natus rerum similique tenetur maiores.
            Harum laudantium amet animi earum nulla expedita, a aut repudiandae dolor voluptatem rem dolorum fugit alias.
     </p>       
            <br>
        <a class="btn btn-primary btn-lg" href="#" role="button">Jumbo action name</a>
    </p>

</div>



<!--- Welcome Section -->
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-6  col-lg-4 mt-1 ">

            <div class="card text-white bg-primary">
                <div class="card-body">
                    <blockquote class="blockquote thumbnail text-center">                               
                    <strong >MongoDB</strong>
                    <img src="img/mongodb.png" alt="">              
                                        
                        <footer class="card-blockquote">
                            <cite title="Source title">Source title</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        
        </div>
        
        <div class="col-sm-12 col-md-6  col-lg-4  mt-1 ">

            <div class="card text-white bg-primary">
                <div class="card-body">
                    <blockquote class="blockquote thumbnail text-center "> 
                      <strong>BootStrap 4</strong>
                    
                        <img src="img//Bootstrap1.png" alt="">  

                        <footer class="card-blockquote">
                            <cite title="Source title">Source title</cite>
                        </footer>

                    </blockquote>
                </div>
            </div>

        </div>

        <div class="clearfix visible-xs "></div>

        <div class="col-sm-12 col-md-12 col-lg-4 mt-1 ">
            <div class="card text-white  bg-primary">
                <div class="card-body">
                    <blockquote class="blockquote thumbnail text-center">
                       <strong >EJS</strong>
                        
                        <img src="img/ejs.png" alt="">
                    
                        <footer class="card-blockquote">
                            <cite title="Source title">Source title</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>

    </div>
</div>

</div>





