

	<div class="container">       
        <div id="slides" class="carousel slide " data-ride="carousel"> 
        <h1 class="text-center">Technologies used By Albion Software</h1>       
            <div class="contaniner">
                <ol class="carousel-indicators">
                    <li data-target="#slides" data-slide-to="0" class="active" ></li>
                    <li data-target="#slides" data-slide-to="1" ></li>
                    <li data-target="#slides" data-slide-to="2" </li>
                    <li data-target="#slides" data-slide-to="3" </li>
                </ol>

                <div class="carousel-inner">



                    <div class="carousel-item active thumbnail">                   
                        <img src="img/node.png" alt="Node.js">                   
                    </div>

                    <div class="carousel-item thumbnail">                  
                        <img src="img/ejs.jpg" alt="EJS">                    
                    </div>

                    <div class="carousel-item thumbnail">
                        <img src="img/mongo.png" alt="MongoDB">                   
                    </div>

                    <div class="carousel-item thumbnail">
                    <img src="img/bootstrap.png" alt="Bootstrap">                           

				</div>
				</div>
				
                <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
                    <span class="carousel-control-next-icon  bg-primary" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
				</a>
				</div>
            </div>
     
  
<br>
<!--- Jumbotron -->
<div class="jumbotron jumbotron-fluid">

	<div class="container">
		<h1 class="display-3">Albion Software</h1>
		<p class="lead">For all your Software needs</p>
	
		<p>More info</p>
		<p class="lead">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium natus rerum similique tenetur maiores.
				Harum laudantium amet animi earum nulla expedita, a aut repudiandae dolor voluptatem rem dolorum fugit alias.
		</p>       
				<br>
			<a class="btn btn-primary btn-lg" href="https://github.com/stephenburrows/NodeExpressRoughWorking" target="_blank"  role="button"
			data-toggle="tooltip" data-placement="top" title="Source for site">GitHub Repo</a>
		</p>
	</div>
</div



<!--- cards -->
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-6  col-lg-4 mt-1 ">

            <div class="card text-white bg-primary">
                <div class="card-body">
                    <blockquote class="blockquote thumbnail text-center">                               
                   
               <a href="https://www.mongodb.com/cloud" target="_blank" data-toggle="tooltip" data-placement="top" title="Learn more about MongoDB">    <img src="img/mongodb.png" alt=""> </a>              
                                        
                        <footer class="card-blockquote">
                          <p class="text-left">MongoDB Atlas delivers the world’s leading database for modern applications as a fully automated cloud service with the operational and security best practices built in. Easily deploy, operate, and scale your databases across the leading cloud platforms.</p>
                        </footer>
                    </blockquote>
                </div>
            </div>
        
        </div>
        
        <div class="col-sm-12 col-md-6  col-lg-4  mt-1 ">

            <div class="card text-white bg-primary">
                <div class="card-body">
                    <blockquote class="blockquote thumbnail text-center "> 
                     
                    
                      <a href="https://getbootstrap.com/" target="_blank" data-toggle="tooltip" data-placement="right" title="Learn more about BootStrap">   <img src="img/bootstrap1.png" alt="">  </a>

                        <footer class="card-blockquote">							
						<p class="text-left">Build responsive, mobile-first projects on the web with the world’s most popular front-end component library.</p>
                        </footer>

                    </blockquote>
                </div>
            </div>

        </div>

        <div class="clearfix visible-xs "></div>

        <div class="col-sm-12 col-md-12 col-lg-4 mt-1 ">
            <div class="card text-white  bg-primary">
                <div class="card-body">
                    <blockquote class="blockquote thumbnail text-center">
                    
                    <a href="https://ejs.co/" target="_blank" data-toggle="tooltip" data-placement="right" title="Learn more about EJS"><img src="img/ejs.png" alt="">  </a>                  
                    
                        <footer class="card-blockquote">
						<p class="text-left">What is the "E" for? "Embedded?" Could be. How about "Effective," "Elegant," or just "Easy"? EJS is a simple templating language that lets you generate HTML markup with plain JavaScript. No religiousness about how to organize things. No reinvention of iteration and control-flow. It's just plain JavaScript.</p>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>

    </div>
</div>

</div>





