<div class="container">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-3 text-primary">Technologies Used</h1>
			<p class="lead">What biuild this site</p>
			<hr class="my-2" />
			<p>More info</p>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-md-6 mt-1 ">
						<div class="card text-white  bg-primary">
							<div class="card-body">
								<blockquote class="blockquote thumbnail text-center">
									<a
										href="https://ejs.co/"
										target="_blank"
										data-toggle="tooltip"
										data-placement="right"
										title="Learn more about EJS"
										><img src="img/ejs.png" alt="" />
									</a>

									<div class="card-blockquote">
										<p class="text-left">
											What is the "E" for? "Embedded?" Could be. How about
											"Effective," "Elegant," or just "Easy"? EJS is a simple
											templating language that lets you generate HTML markup with
											plain JavaScript. No religiousness about how to organize
											things. No reinvention of iteration and control-flow. It's
											just plain JavaScript.
										</p>
									</div>
								</blockquote>
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-6 mt-1 ">
						<div class="card text-white  bg-primary">
							<div class="card-body">
								<blockquote class="blockquote thumbnail text-center">
									<a
										href="https://nodejs.org"
										target="_blank"
										data-toggle="tooltip"
										data-placement="right"
										title="Learn more about node.js"
										><img src="img/node.png" alt="" />
									</a>

									<div class="card-blockquote">
										<p class="text-left">
											As an asynchronous event driven JavaScript runtime, Node is
											designed to build scalable network applications. In the
											following "hello world" example, many connections can be
											handled concurrently. Upon each connection the callback is
											fired, but if there is no work to be done, Node will sleep.
										</p>
									</div>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			
				<div class="row">
					<div class="col-sm-12 col-md-6   mt-1 ">
						<div class="card text-white bg-primary">
							<div class="card-body">
								<blockquote class="blockquote thumbnail text-center">
									<a
										href="https://www.mongodb.com/cloud"
										target="_blank"
										data-toggle="tooltip"
										data-placement="top"
										title="Learn more about MongoDB"
									>
										<img src="img/mongodb.png" alt="" />
									</a>

									<div class="card-blockquote">
										<p class="text-left">
											MongoDB Atlas delivers the world’s leading database for
											modern applications as a fully automated cloud service with
											the operational and security best practices built in. Easily
											deploy, operate, and scale your databases across the leading
											cloud platforms.
										</p>
									</div>
								</blockquote>
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-6    mt-1 ">
						<div class="card text-white bg-primary">
							<div class="card-body">
								<blockquote class="blockquote thumbnail text-center ">
									<a
										href="https://getbootstrap.com/"
										target="_blank"
										data-toggle="tooltip"
										data-placement="right"
										title="Learn more about BootStrap"
									>
										<img src="img/bootstrap1.png" alt="" />
									</a>

									<div class="card-blockquote">
										<p class="text-left">
											Build responsive, mobile-first projects on the web with the
											world’s most popular front-end component library.
										</p>
									</div>
								</blockquote>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
				<div class="col-sm-12  mt-1 ">
				<div class="card text-white bg-primary">
					<div class="card-body">
						<blockquote class="blockquote thumbnail text-center ">
							<a
								href="https://github.com/stephenburrows/AlbionSoftware_NodeJS"
								target="_blank"
								data-toggle="tooltip"
								data-placement="right"
								title="Get source code"
							>
								<img src="img/github.png" alt="" />
							</a>

							<div class="card-blockquote">
								<p class="text-left">
								GitHub is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside 31 million developers.
								</p>
							</div>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
				</div>
			
			</div>
		</div>
	</div>
</div>
