
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');



.carousel-inner > .carousel-item > img {
margin: 0;   
max-width: 100%; }

.thumbnail img {
max-height: 100%;
max-width: 100%;
}
.card {
height: 20rem;
}
/*
.card {
height: 350px;
}*/

.list-group-item
{
  padding: 5px;
  margin: 5px;
}

.tab-content {
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px;
}

/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

[class*="col-"] {
padding: 1rem;
}




/*

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/







